@model V_Weave_Qc.Models._VWAVEQCLOGIN
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/LoginTemplate/Login_v1/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/Login_v1/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/Login_v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/Login_v1/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/Login_v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/Login_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/LoginTemplate/Login_v1/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="wtmrk">  </div>
    <div class="limiter">
        <div class="container-login100">
            
            <div class="wrap-login100" style=" margin: auto !important; padding: 33px 100px 33px 95px; width: 810px;">
                
                <div class="login100-pic js-tilt" data-tilt>
                    @*<img src="~/Images/sahibLogo.png" style="border-radius: 0%;" alt="img">*@
                    <img src="~/Images/Golden-Terry-Towels.jpg.png" style="width: 200px; margin: 80px 0px;"/>
                </div>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-signin" }))
                {
                    <form class="login100-form validate-form">
                        <span class="login100-form-title">
                            Login
                        </span>



                        @Html.AntiForgeryToken()
                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            @Html.EditorFor(model => model.U_UserId, new { htmlAttributes = new { @class = "input100", @autocomplete = "off", @placeholder = "User Id", @required = "required" } })
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            @Html.EditorFor(model => model.U_Password, new { htmlAttributes = new { @class = "input100", @autocomplete = "off", @placeholder = "Password", @required = "required", @type = "password" } })
                            @*<input class="input100" type="password" name="pass" placeholder="Password">*@
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>                       
                        <div class="container-login100-form-btn">
                            <input class="login100-form-btn" value="LOGIN" type="submit" />
                        </div>
                        <p style="color:red;text-align:center;"><strong>@ViewBag.message</strong></p>
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="footer text-center " style="margin-top:10px;position:fixed;bottom:0px;width:100%;background-color:black">

        <a href="http://www.specialiseditsquad.com" target="_blank" style="color:white" class="footer-anc">Copyright &copy; 2021 Specialised IT Squad Pvt. Ltd. All Rights Reserved</a>
    </div>
    <!--===============================================================================================-->
    <script src="~/LoginTemplate/Login_v1/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTemplate/Login_v1/vendor/bootstrap/js/popper.js"></script>
    <script src="~/LoginTemplate/Login_v1/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTemplate/Login_v1/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/LoginTemplate/Login_v1/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/LoginTemplate/Login_v1/js/main.js"></script>
</body>
</html>


